<<<<<<< HEAD
$primary-blue: #19598f;
$secondary-blue: #f0f9ff;
$tertiary-blue: #092135;
$primary-yellow: #ffc700;
=======
$primary-blue: #19598F;
$secondary-blue: #F0F9FF;
$primary-yellow: #FFC700;
$primary-black: #131200;
>>>>>>> 5c23c8730a721fe9481a9b72db5793f899750570
