@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #092135;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  @screen sm {
    font-size: 24px;
  }
  @screen md {
    font-size: 56px;
  }
}

h3 {
  color: #092135;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  @screen sm {
    font-size: 18px;
  }
  @screen md {
    font-size: 48px;
  }
}

h4 {
  color: #092135;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  @screen sm {
    font-size: 16px;
  }
  @screen md {
    font-size: 20px;
  }
}

h5 {
  color: #092135;
  font-family: "Madimi One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  @screen sm {
    font-size: 16px;
  }
  @screen md {
    font-size: 20px;
  }
}

h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}
