.portfolio-card-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
}

.portfolio-cards-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

.portfolio-card {
  display: inline-block;
  vertical-align: top;
  min-width: 296px;
  height: 600px;
  white-space: wrap;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  z-index: 1000;
  height: 70%;
  width: 70%;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
